<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT Camp Book Store</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<div id="logo">
    <img src="/logo.png">
</div>
<div id="menu">
    <a href="/main" class="button">Strona główna</a>
    <a href="/contact" class="button">Kontakt</a>
    <a href="/login" class="button">Zaloguj</a>
</div>
<div id="content">
    Super ksiegarnia z IT-CAMPa.<br>
    Krakow 31-312<br>
    ul. Piekna 20
</div>
</body>
</html>